/* color variable */
:root {
    --borderTest: 2px solid #ff0000;

    --primary-pink: #fe8fa2;
    --primary-green: #138808;
    --primary-red: #d40000;
    --primary-orange: #f49f0a;

    --secondary-blue: #008df9;
    --light-blue: #c2e2f5;
    /* --light-blue: #edfaff; */

    --medium-grey: #c4c4c480;
    --light-grey: #c4c4c4;
    --very-light-grey: #f5f5f5;
}


.content-boxes {
    height: 150px;
    /* border: var(--borderTest); */
    box-shadow: 0 0 15px #c4c4c480;
    padding: 1vw;
    border-radius: 8px;
    background-color: #ffffff;
}


.leave-counter {
    display: flex;
    align-items: center;

    /* border: var(--borderTest); */
    border-radius: 8px;

    margin-top: 3vh;
    padding: 8px;
    width: 15vw;
}



/* up coming section */
#sideContainer {
    margin-top: 3vh;
    padding: 0.5vw;

    /* border: var(--borderTest); */
    border-radius: 8px;

    box-shadow: 0 0 15px #c4c4c480;
}

.sideFormContainer {
        display: flex;
        /* justify-content: space-between; */
    }

#side-wrapper {
    margin-top: 1vh;
    display: flex;
    justify-content: space-between;
}

.labelColor {
    color: var(--primary-blue);
}




.containerForms {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    margin-left: 6%;
    margin-top: 40px;
    margin-bottom: 2rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px 10px 30px 10px;
    width: 60%;
    /* background-color: red; */
}
.formGroup {
    width: 95%;
    margin: 0.5rem auto;
}


.inputField {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 10px 0;
    border: 1px solid #f1f3f5;
    background-color: #f1f3f5;
    outline: none;
    padding: 1.2rem 0.7rem;
    color: var(--text-color-purple);
}

.saveBtn {
    color: white;
    background: var(--primary-blue);
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-top: 2rem;
    border: 2px solid #000080;
    font-size: 1rem;
    cursor: pointer;
}


.contiainerLogo {
    width: 90px;
    height: 70px;
}

.editProfile {
    background-color: var(--primary-blue);
    border-radius: 6px;
    padding: 4px;
    margin-top: 40px;
    cursor: pointer;
    text-align: center;
    color: #fff;
}

.profileLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sideContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width: 30%;
  
}

.passwordAccess {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
}

.generalContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    margin-right: 90px;

}

.reg-button {
    background-color: #000080;
    width: 100px;
    height: 40px;
    line-height: 1.1;
    border-radius: 6px;
    border: none;
    padding: 15px;
    cursor: pointer;
}

.dpPreview .fa-user.big {
    /* width: 100%; */
    font-size: 120px;
    display: block;
    text-align: center;
    /* margin-top: 20px; */
}

.errorText {
    color: red;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

@media only screen and (max-width: 600px) {
    .generalContainer {
        display: flex;
        flex-direction: column;
        gap: 0px;
        margin: 0px;
        width: 90vw;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
    }

    .saveBtn,
    .inputField {
        width: 100vw;
    }

    .sideContainer {
        margin-top: 30px;
        flex-direction: column;
    }

    .passwordAccess {
        margin-top: 30px;
        width: 100vw;
    }

    #containerForms {
        margin-left: 0px;
        padding: 0 0 0 20px;
    }

}