/*==================== VARIABLES CSS ====================*/
:root {
 /*========== Font and typography ==========*/
 --body-font: "Poppins", sans-serif;

 /* .5rem = 8px, 1rem = 16px, 1.25rem = 20px, 1.5rem = 24px... */
 --big-font-size: 1.25rem;
 /* --h1-font-size: 3rem; */
 --h2-font-size: 1.25rem;
 --h3-mobile: 0.9375rem;
 --normal-font-size: 1rem;
 --heading-mobile: 2rem;
 --text-mobile: 0.875rem;

  /*========== Font weight ==========*/
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== Logo Size ==========*/
  --logo-width: 6.881rem;
  --logo-height: 3.34rem;
  --form-logo-width: 7.2rem;
  --form-logo-height: 5rem;
  
  --footer-logo-width: 4rem;
  --footer-logo-height: 5rem;
  

  /*========== Colors ==========*/
  /* Change favorite color */
  --primary-hue-color: 240;
  --secondary-hue-color: 0;
  /* HSL Color Mode */
  --text-color-white: hsl(var(--secondary-hue-color), 0%, 100%);
  --text-color-purple: hsl(var(--primary-hue-color), 100%, 25%);
  --text-color-black: #000000;
  --body-first-color: hsl(var(--secondary-hue-color), 0%, 100%);
  --body-second-color: hsl(var(--primary-hue-color), 100%, 25%);
}


html {
    scroll-behavior: smooth;
    max-width: 100%;
    /* overflow-x: hidden; */
}

body {
   font-family: var(--body-font);
   position: relative;
   
}

.container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}


.hero {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    margin-top: 5rem;
}
.mainContent {
    margin: 2rem auto 2rem auto;
}

.text {
    width: 40%;
    color:#000080 ;
}

h1 {
    margin: 2rem 0;
    font-size: 43px;
    font-weight: var(--font-bold);
}

.text p {
    line-height: 1.5;
    font-size: 17px;
    color: #000080;
}

.text .contactIcon {
    margin-top: 3rem;
    transform: translateX(-5rem);
}

.bigCircle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #00afef, #000080);
  bottom: 50%;
  right: 0;
  transform: translate(20%, 17%);
  z-index: 1;
  overflow-x: hidden;
}

.bigCircle:after {
  content: "";
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: #fafafa;
  border-radius: 50%;
  top: calc(50% - 180px);
  right: calc(50% - 180px);
}

/*==================== CONTACT FORM ====================*/
  .formHeading {
    text-align: center;
    color: #000080;
    margin-bottom: 1.5rem;
    font-weight: var(--font-bold);
  }  
  .contactFormContainer {
    width: 50%;
    padding: 2rem 0.5rem 0 0.5rem;
    background-color: #fff;
    box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
    border-radius: 15px;
    z-index: 2;
  }

  .formGroup {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0.3rem auto 1rem auto;
  }

  .formGroup label {
    color: var(--text-color-purple);
  }

  .formGroup input {
    width: 100%;
    padding: 0.7rem;
    height: 2.2rem;
    margin-top: 0.3rem;
    border-radius: 5px;
    border: 1px solid #f1f3f5;
    background-color: #f1f3f5;
    color: var(--text-color-purple);
  }

  .formGroup input:hover {
    outline: hsl(var(--primary-hue-color), 100%, 25%);
  }

  .formGroup .textarea {
    max-width: 100%;
    display: block;
    border: 1px solid #f1f3f5;
    background-color: #f1f3f5;
    border-radius: 5px;
    padding: 8px;
    font-size: 18px;
    margin-top: 0.5rem;
    resize: none;
    height: 250px;
  }

  .contactSubmitBtn {
    width: 100%;
    background-color: hsl(var(--primary-hue-color), 100%, 25%);
    color: var(--text-color-white);
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 0.5rem auto;
    font-size: 0.9rem;
    font-weight: var(--font-semi-bold);
  }

  .errorText {
    color: red;
    margin-left: 1rem;
  }
  

/*==================== MEDIA QUERIES ====================*/

/* For Tablets (min-width: 750px) and  */
@media  (max-width: 1024px) {
      .contactIcon {
        transform: translateX(-2rem);
      }
    }

    @media(max-width:740px) {
      body {
        overflow-x: hidden;
      }
      .hero {
        flex-direction: column;
        gap: 2rem;
      }
      .contactIcon {
        display: none;
      }
      h1 {
        font-size: 28px;
      }
      .bigCircle {
        bottom: 47%;
        transform: scale(0.9) translate(-40%, 30%);
        left: 70%;
      }
      .text {
        width: 80%;
      }
       .contactFormContainer {
        width: 100%;
      }


    }
    @media (max-width: 500px) {
      .text {
        width: 100%;
      }
    }